<% page.posts.each(function (page) { %>
    <div class="index-post">
        <div class="index-post-header" style="font-size:x-large;">
            <a href="<%- url_for(page.path) %>">
                <%= page.title %>
            </a>
        </div>
        <div>
            <a> <%- partial('_partial/_post/meta', {page: page}) %> </a>
        </div>

        <% if(page.excerpt&&theme.index.auto_excerpt.enable){ %>
            <a href="<%= url_for(page.path) %>">
                <div style="font-size:medium; color: gray;">
                    <%=page.excerpt %>
                </div>
            </a>
            <%}%>
    </div>


    <% }) %>